<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container-sm">
    <div class="card-body">
        <h1 style="size: 1">Welcome, {{ result[0][0] }}!</h1>
    </div>
    <div class="table-body">
        <table class="table table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Home Address</th>
                <th scope="col">Billing Address</th>
                <th scope="col">Credit Card</th>
            </tr>
            <tbody>
                <tr>
                    <td> {{ result[0][0] ~ " " ~ result[0][1] }} </td>
                    <td> {{ result[0][2] }} </td>
                    <td> {{ result[0][3] }} </td>
                    <td> {{ result[0][4] }} </td>
                    <td> {{ result[0][5][0] ~ " " ~ result[0][5][1] ~ ", " ~ result[0][5][2] ~ ", "  ~ result[0][5][3] ~ " " ~ result[0][5][4]}} </td> 
                    <td> {{ result[0][6][0] ~ " " ~ result[0][6][1] ~ ", " ~ result[0][6][2] ~ ", "  ~ result[0][6][3] ~ " " ~ result[0][6][4]}} </td> 
                    <td> {{ "************" ~ result[0][7][15:] }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        {% if seller %}
            <form id="prod_list" method="GET" action="sellerlist.html">
                <button type="submit" style="background-color: rgb(201, 198, 15)" class = "btn btn-primary">View Your Product Listings</button>
            </form>
        {% endif %}
        <form id="browse" method="GET" action="listings.html">
            <button type="submit" style="background-color: blue" class="btn btn-primary">Browse Products</button>
        </form>
        <form id="browse" method="GET" action="/">
            <button type="submit" style="background-color: brown" class="btn btn-primary">Log Out</button>
        </form>
    </div>
    <div>
    <h5><br><br><br><br><br><br>Change Password:</h5>
    <form method="POST">
        <div class="Password">
            <label for="Password">Current Password:</label>
            <input type="password" name="Password" required>
        </div>
        <div class="P1">
            <label for="P1">New Password:</label>
            <input type="password" name="P1" required>
        </div>
        <div class="P2">
            <label for="P2">Confirm Password:</label>
            <input type="password" name="P2" required>
        </div>
        <button type="submit">Change</button>
    </form>
    {% if res == 1 %}
    <h5 style="color: green">Successfully Changed Password</h5>
    {% elif res == -1 %}
    <h5 style="color: red">Incorrect Password</h5>
    {% elif res == -2 %}
    <h5 style="color: red">Passwords Do Not Match</h5>
    {% endif %}
    </div>
</div>
</body>
</html>